state_machine.json
{
  "StartAt": "ExtractDataFromAPI",
  "States": {
    "ExtractDataFromAPI": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:810082744037:function:crypto-pipeline-extract",
      "Next": "TransformData",
      "ResultPath": "$.s3ObjectKeyExtract",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureState"
        }
      ]
    },
    "TransformData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:810082744037:function:crypto-pipeline-transformation",
      "Parameters": {
        "s3ObjectKey.$": "$.s3ObjectKeyExtract"
      },
      "Next": "LoadDataToRedshift",
      "ResultPath": "$.s3ObjectKeyTransformed",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureState"
        }
      ]
    },
    "LoadDataToRedshift": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:810082744037:function:crypto-etl-project-load",
      "Parameters": {
        "s3ObjectKeyTransformed.$": "$.s3ObjectKeyTransformed"
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureState"
        }
      ]
    },
    "FailureState": {
      "Type": "Fail",
      "Cause": "An error occurred in the ETL process"
    }
  }
}